.modify-page{
    min-width: 1000px;
}
.modify-page .verify{
    margin-top:50px;
}
.modify-page .verify li{
    padding:8px 0;
    border-bottom:1px solid #f0f3f3;
}
.modify-page .verify li label{
    display: inline-block;
    width:300px;
    margin-right:5px;
    text-align: right;
}
.modify-page .verify li input{
    height: 30px;
    width: 230px;
    padding: 0 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.modify-page .post{
    margin-top:30px;
    height:150px;
    background:#fbfbfb;

}
.modify-page .post button{
    margin-left: 310px;
    margin-top: 26px;
    width: 126px;
    height: 36px;
}