<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <title></title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/plugins/Normalize/Normalize.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/plugins/metisMenu/metisMenu.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/plugins/select2/select2.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--<script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-1.12.4.min.js}"></script>-->
     <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-3.2.1.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/metisMenu/metisMenu.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/select2/select2.js}"></script>
</div>
